%h2.text-center
  Chat rooms
  %br
  %small
    = link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary btn-sx'

%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Owner
      %th Created At
      %th
  %tbody
    - @chat_rooms.each do |chat_room|
      %tr
        %td
          = chat_room.title
        %td
          = chat_room.owner
        %td
          = chat_room.created_at
        %td
          = link_to "Enter", chat_room_path(chat_room), class: "btn btn-sm btn-primary"
